body {
  margin: 0;
  p {
    padding: 0;
  }
}
@import "./base/reset";

@import "./abstracts/mixins", "./abstracts/variables";

@import "./components/footer", "./components/nav",
  "./components/responsive.scss";

@import "./pages/about", "./pages/contact", "./pages/home", "./pages/project";

body {
  font-family: $font-family;
  line-height: 1;
  color: $text-color;
  background-color: $primary-color;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $text-color;
}

h1,
h2,
h3 {
  font-weight: 400;
}
